body {
  font-family: 'Montserrat', sans-serif;
}

.search-container {
  display: flex;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  gap: 8px;
  margin-bottom: 32px;
}

input {
  width: 272px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;
  transition: border-color 300ms ease;
}

input:hover {
  border-color: #000;
}

input:active,
input:focus {
  border-color: #4e75ff;
  outline: transparent;
}

input::placeholder {
  color: #808080;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.search-btn {
  border: none;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  transition: background-color 300ms ease;
}

.search-btn:hover,
.search-btn:focus {
  background-color: #6c8cff;
}
